<%- include('partials/header'); -%>

<header>
  <div class="trade">
    <img src="trade.png" alt="">
  </div>
  <div class="headings">
    <h1>Welcome to Trading Tech</h1>
    <h3>Love Green Avoid Red</h3>
    <a href="/indicators" class="btn">View indicators</a>
  </div>
</header>


<%- include('partials/footer'); -%>