<%- include('partials/header'); -%>

<ul class="indicators">
  <li class="indicator">
    <img src="/trade.png" alt="indicator icon">
    <h4>Moving Average</h4>
    <p>Indicator used to know the average value of a stock's price over a period </p>
  </li>
  <li class="indicator">
    <img src="/trade.png" alt="indicator icon">
    <h4>Pivot Point Standard</h4>
    <p>Indicator used to find support and resistance </p>
  </li>
  <li class="indicator">
    <img src="/trade.png" alt="indicator icon">
    <h4>RSI</h4>
    <p>Indicator used to find momentum </p>
  </li>
  <li class="indicator">
    <img src="/trade.png" alt="indicator icon">
    <h4>Volume</h4>
    <p>Number of shares traded </p>
  </li>
  <li class="indicator">
    <img src="/trade.png" alt="indicator icon">
    <h4>MACD</h4>
    <p>Trend based momentum indicator</p>
  </li>
  <li class="indicator">
    <img src="/trade.png" alt="indicator icon">
    <h4>Bollinger Band</h4>
    <p>It provides a range within which the price of an asset typically trades.</p>
  </li>
</ul>

<%- include('partials/footer'); -%>